
@use 'base/globals';

@use 'components/header';
@use 'components/heroSection';
@use 'components/loginForm';
@use 'components/featuresFloatSection';
@use 'components/brandsMarquee';
@use 'components/coursesSection';
@use 'components/credentialsSection';
@use 'components/certifiedTeachersSection';
@use 'components/studentReviews';
@use 'components/footer';
@use 'components/newsletterModal';


