@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */


*{
    margin:0;
    padding:0;
    outline:none;
    border:none;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
    
}
:root{
    --site-green:hsl(145, 62%, 42%);            /* #28AD60 rgb(40,173,96) hsl(145, 62%, 42%) */
    --site-blue:hsl(221, 52%, 26%);             /* #192B51 rgb(25,43,81) hsl(221, 52%, 21%) */
    --site-grey:hsl(0, 0%, 40%);                /* #666666 rgb(102,102,102) hsl(0, 0%, 40%) */
    --site-black:hsl(232,12,12);                /* #1D1E25 rgb(29,30,37) hsl(232,12,12) */
    --site-orange:hsl(11,88%,59%);              /* #F3603C rgb(243,96,60) hsl(11,88%,59%) */  
    --site-container-bgLight:#f5f7fb;           /* #f5f7fb rgb(245,247,251) hsl(220,42%,97%) */
    --site-violet-light:#EFECFD;                /* #EFECFD rgb(239,236,253) hsl(250,80%,95%) */

    --site-orange-light:hsl(12,100%,96%);       /* #FFEFEB rgb(255,239,235) hsl(12,100%,96%); */ 
    --site-blue-variety:hsl(206,56%,21%);       /* #183b56 rgb(24,59,86) hsl(206,56%,21%) */
    --site-blue-light:hsl(209,25%,45%);         /* #577592 rgb(87,117,146) hsl(209,25%,45%) */
    --site-blue-dark:hsl(228,39%,23%);          /* #232C51 rgb(35,44,81) hsl(228,39%,23%) */
    --site-blue-button:hsl(206,84%,53%);        /* #2294ed rgb(34,148,27) hsl(206,84%,53%) */


    --padding-inline:7%;
    --padding-block:10px;
    --box-shadow:0 2px 3px 2px #eee;
}
html{
    scroll-behavior:smooth;
    scroll-padding-top: 1rem;
}
body{
    overflow-x:hidden;
}
/*************************************************************** MENU starts here *****************************************************/
#menu{
    position:fixed;
    width:100vw;
    height:8%;
    padding-inline:var(--padding-inline);
    padding-block:var(--padding-block);
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:transparent;     
    z-index:20;            /* #f5f7fb */
    backdrop-filter:blur(0.2rem);
    padding-bottom: 1%;
    /* box-shadow:var(--box-shadow); */
    /* border:1px solid black; */
}
#logo {
	height:40px;
	width:10%;
}
#menuIcon path{
    &:nth-child(1){
        fill:var(--site-green);
    }
    &:nth-child(3){
        fill:var(--site-green);
    }
    &:nth-child(4){
        fill:var(--site-green);
    }
    &:nth-child(8){
        fill:var(--site-green);
    }
    &:nth-child(9){
        fill:var(--site-green);
    }
}

.iconContainer {
    display:flex;
    align-items:center;
}
.iconContainer a{
    cursor:pointer;
    text-decoration:none;
}
.iconContainer a strong{
    font-size:20px;
    letter-spacing:0.6px;
    color:var(--site-blue);
}
.iconContainer>a strong::first-letter{
    font-size:23px;
    color:var(--site-green);
}
.iconContainer strong span{
    margin-left:2px;
    position:relative;
}
.iconContainer strong span::before {
	content: '';
	position:absolute;
    bottom:0;
	right:0;
	height:100%;
	width:107%;
    border-radius:5px;
	background-color:var(--site-orange);
	z-index:-1;
}
.menuContainer{
    flex-basis:50%;
}
.menuList li{
    list-style-type:none;
    display:inline-block;
}
.menuList li a{
    text-decoration:none;
    margin-right:25px;
    text-transform:capitalize;
    font-size:15px;
    color:var(--site-grey);
    cursor:pointer;
    padding: 4.5px;
    border-radius: 8px;
    transition:0.3s;
}
.menuList li a:hover{
    color:#fff;
    background-color:var(--site-green);
}
.menuList li .active{
    color:var(--site-green);
}
.ctaContainer i {
	color: var(--site-blue);
	margin-left: 15px;
	font-size: 17px;
	border-radius: 16px;
	padding: 6px;
	background-color: #eee;
    transition:0.2s;
    /* border: 1px solid black; */
}
.ctaContainer i:hover{
    color:var(--site-orange);
    transform:scale(120%);
}

/*************************************************************** MENU ends here *****************************************************/

/*************************************************************** INTRO starts here *****************************************************/

#intro{
    padding-inline:var(--padding-inline);
    display:flex;
    align-items:center;
    width:100vw;
    height:100vh;
    background-image: url('Images/home-image7.png');
    background-size:cover;
}
.introText-container h3{
    color:var(--site-green);
    font-size:13px;
    font-weight:bold;
    position:relative;
}
.subheader-Container{
    display:flex;
    align-items:center;
    gap:5px;
}
.subheader-Container hr{
    display:inline-block;
    height:0.9px;
    width:5%;
    background-color:var(--site-green);
}
.introText-container h1{
    color:var(--site-blue);
    margin:1px 0 20px;
    font-size:2.4rem;
    text-transform:capitalize;
}
.introText-container p{
    color:var(--site-grey);
    font-size:15px;
    word-spacing:1px;
    margin-bottom:20px;
}
.buttonContainer{
    display:flex;
    align-items:center;
    gap:30px;
}
.buttonContainer a{
    padding:11px;
    background-color:var(--site-green);
    border-radius:9px;
    color:#fff;
    border:2px solid transparent;
    font-weight:600;
    letter-spacing:0.1px;
    transition:0.2s;
}
.buttonContainer a:hover{
    background-color:#fff;
    color: var(--site-orange);
    border-color:var(--site-green);
}
.buttonContainer i{
    font-size: 13px;
    margin-left: 6px;
}
.introImg-container{
    height:100vh;
    
}
/*************************************************************** INTRO ends here *****************************************************/

/*************************************************************** FORM starts here *****************************************************/
/* #form-container {
	position: relative;
	left: 25%;
	bottom: 50px;
	z-index: 1;
	width: 50vw;
	height: 500px; 
    border: 1px solid hsl(11,88%,89%);
    border:2px solid black; 
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding-block: 10px;
	padding-inline: 100px;
	border-radius: 15px;
	backdrop-filter: blur(65px);
	background-color: #fff;
	box-shadow: 0 4px 5px hsl(11,88%,89%);
	transform: perspective(65px) translateZ(10px); 
    border-image-source:url(Images/curly-bracket.svg);
    border-image-repeat:stretch;
} */

#total-container {
	position: relative;
	left: 25%;           /* 17% */  /* 25% */
	bottom: 3rem;       /* 106px */  /* 40px */
	z-index: 1;
	width: 50vw;        /* 55vw */  /* 50vw */ 
   	display: flex;
	flex-direction: column;     /* no flex-direction */
	gap: 15px;
	padding-block: 30px;
	padding-inline: 100px;
	border-radius: 15px;
	background-color:var(--site-container-bgLight);     /* No Bg */
    box-shadow:var(--box-shadow);
    /* border: 1px solid hsl(11,88%,89%); */
}

.login-form{
    display:flex;
    gap:15px;
}
.form-container{
    display:flex;
    flex-direction: column;
    align-self:center;
}
/* .form-container::before {
	content: '';
	position: absolute;
	top: 35px;
	left: 142px;
	height: 66%;
	width: 70%;
	border: 1px solid black;
	background-color: var(--site-container-bgLight);
	z-index: -2;
	box-shadow: var(--box-shadow);
} */
/* #L-bracket path,#R-bracket path{
    fill:var(--site-blue);
} */
.form-container h3 {
	color: var(--site-blue);
	background-color:var(--site-violet-light);
	display: inline-block;
	width: 22%;
	padding: 7px;
	border-radius: 8px;
	margin-bottom: 8px;
	/* margin-right: -82px; */
	font-size: 20px;
}
.form-container h4 {
	color: var(--site-orange);
	font-weight: bold;
	font-size: 14px;
	margin-top: 15px;
}
.form-container h4 > a {
	cursor: pointer;
	margin-inline: 7px;
	text-decoration: none;
    transition:0.2s;
}
.form-container h4 > a:hover{
    color:var(--site-green);
}
.form-container .login-form a{
    text-decoration:none;
    padding:6px 35px;
    margin-left:20px;
    background-color:var(--site-green);
    border:2px solid transparent;
    border-radius:9px;
    color:#fff;
    font-weight:600;
    letter-spacing:0.1px;
    transition:0.2s;
}
.form-container .login-form a:hover{
    background-color:#fff;
    color: var(--site-orange);
    border-color: var(--site-green);
}
.form-container .login-form input{
    border-bottom: 2px solid var(--site-green);
}
.form-container .login-form input::placeholder{ 
    color: var(--site-grey);
    font-size: 13px;
}
/*************************************************************** FORM ends here *****************************************************/
/*************************************************************** FLOAT starts here *****************************************************/

#great-floats-container{
    position:relative;
    bottom:5rem;
    padding-block:9%;
    padding-inline:var(--padding-inline);
    background-color:var(--site-violet-light);
}
.floats-container{
    display:flex;
    gap:4%;
}
.float-img-container{
    flex-basis:45%;
}
.float-img-container img{
    object-fit:contain;
    width:100%;
}
.float-text-container h4{
    color:var(--site-orange); 
    word-spacing:1.5px;
}
.float-text-container> div:first-child{
    display:flex;
    gap:5px;;
}
.float-text-container hr{
    background-color:var(--site-green);
    height:1.2px;
    width:15%;
    align-self:center;
}
.float-text-container h2{
    margin-bottom:15px;
    color:var(--site-blue);
    word-spacing:2px;
    font-size:2rem;
}
.float-text-container>p{
    margin-bottom:10px;
    color:hsl(0, 0%, 30%);
    font-size:15px;
    word-spacing:1.2px;
}
.float-text-container .test {
    color:var(--site-grey);
    font-size:14px;
}
.float-text-container div i{
    margin-right:13px;
    color:var(--site-green);
}
.float-feature-container{
    display:flex;
    gap:2rem;
    margin-top:10px;
}
.float-text-container .float-feature-container p{
    color:var(--site-grey);
    font-size:13.3px;
    line-height:1rem;
}
.float-feature-container h1{
    color:var(--site-green);
    font-size:1.7rem;
}
/*************************************************************** FLOAT ends here *****************************************************/
/*************************************************************** COMPANY starts here *****************************************************/

/* #company-container{
    padding-inline:var(--padding-inline);
}
#company-container h2{
    text-align:center;
    margin-bottom:3%;
    letter-spacing:0.4px;
    word-spacing:4px;
    text-transform:capitalize;
    color:var(--site-blue);
}
.company-logos{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    row-gap:10%;
    column-gap:5%;
    justify-items:start;
    animation-name:flow;
}
.company-logos img{
    height:4rem;
} */

#company-container{
    /* padding-inline:var(--padding-inline); */
}
#company-container h1{
    text-align:center;
    margin-bottom:4%;
    letter-spacing:0.4px;
    word-spacing:4px;
    text-transform:capitalize;
    color:var(--site-blue);
    font-size:2rem;
    font-weight:700;
}
.company-logos{
    display:flex;
    flex-direction:column;
    gap:2rem;
    overflow:hidden;
    position: relative;
    
}
.company-logos div{
    display:flex;
    gap:11%;
    white-space:nowrap;
    animation-name:flow;
    animation-duration:40s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function:linear;
    overflow-x: visible;
    
}
.company-logos div:nth-child(2){
    display:flex;
    gap:11%;
    white-space:nowrap;
    animation-name:flow;
    animation-duration:20s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function:linear;
    animation-direction:reverse;
    overflow-x: visible;
}
.company-logos div img{
    height:4rem;
    overflow-x:visible;
}
@keyframes flow{
    from{
        transform:translateX(0%);
    }
   to{
        transform:translateX(-100%);
    }
}
/*************************************************************** COMPANY ends here *****************************************************/
/*************************************************************** POPULAR COURSES starts here *****************************************************/
#popular-courses-container{
    padding-top:10%;
    padding-inline:var(--padding-inline)
}
#popular-courses-container h1{
    color:var(--site-blue);
    font-size:1.9rem;
    text-align:center;
    text-transform:capitalize;
    letter-spacing:0.4px;
    word-spacing:4px;
    font-weight:700;
}
#popular-courses-container>h5{
    color:var(--site-grey);
    text-align:center;
    margin-top:0.2rem;
}
.course-grid{
    margin-top:3rem;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    column-gap:1.5rem;
    row-gap:2rem;
}
.course-grid .course{
    position:relative;
    width:27rem;
    border-radius:10px;
    background-color:var(--site-violet-light);
    box-shadow:var(--box-shadow);
}
.course-img-container{
    /* height:75%; */
    width:100%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    overflow-x:clip;
}
.course-grid .course img{
    height:15rem;
    width:100%;
    object-fit:cover;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.course #calender{
    padding-left:4px;
}
.course #calender span{
    font-size:11px;
    color:var(--site-grey);
}
.course #calender i{
    font-size:13px;
    color:var(--site-orange);
}
.course-grid .course .price{
    position:absolute;
    right:2rem;
    top:13.2rem;
    padding:0.9rem;
    border-radius:25px;
    color:var(--site-orange);
    background-color:var(--site-blue);
    font-weight:bold;
}
.course .course-text-container{
    margin-top:0.5rem;
    padding-left:4px;
    padding-right:4rem;
    padding-bottom:5px;
    height:7rem;
    display:flex;
    flex-direction:column;
    gap:10px;
    justify-content:space-between;
}
.course .course-text-container>div:first-child{
    display:flex;
    flex-direction:column;
    gap:10px
}
.course .course-text-container>div:first-child h4{
    text-transform:capitalize;
    line-height:1.3rem;
    word-spacing:1px;
    color:var(--site-blue);
}
.course .course-text-container>div:first-child h5{
    font-size:13px;
    font-weight:450;
    color:var(--site-grey);
}
.course-text-container>div:last-child{
    display:flex;
    align-items:baseline;
    gap:5px;
}
.course-text-container>div span{
    color:var(--site-green);
}
.course .course-text-container>div span:first-child{
    font-size:17px;
    font-weight:500;
}
.course .course-text-container>div span>i{
    font-size:14px;
    margin-right:-4px;
}
.course .course-text-container>div span:last-child{
    font-size:13px;
    color:var(--site-grey);
}
/*************************************************************** POPULAR COURSES ends here *****************************************************/
/*************************************************************** CREDENTIALS starts here *****************************************************/
#credentials{
    margin-top:10%;
    height:300px;
    position:relative;
    background-image:url('Images/class1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:0 50%;
    display:flex;
    align-items:center;
    justify-content:center;
}
#credentials::before{
    content:'';
    position:absolute;
    bottom:0%;
    left:0%;
    height:100%;
    width:100%;
    background-color:hsla(221, 52%, 26%, 0.4);
}
.credentials-items{
    z-index:2;
}
.credentials-items .credentials-items-wrapper{
    height:100%;
    padding-inline:var(--padding-inline);
    display:flex;
    align-items:center;
    justify-content:center;
    gap:25%;
}
.credentials-items .credentials-items-wrapper:last-child{
    margin-top:1rem;
}
.credentials-items-wrapper> div{
    display:flex;
    gap:1rem;
}
.credentials-items-wrapper> div i{
    font-size:3rem;
    align-self:center;
    color:var(--site-orange);
}
.credentials-items-wrapper> div span{
    font-size:2rem;
    color:#fff;
}
.credentials-items-wrapper> div h5{
    white-space:nowrap;
    font-size:15px;
    font-weight:initial;
    color:#fff;
}
/*************************************************************** CREDENTIALS ends here *****************************************************/

