@use '../abstracts/variables' as *;
@use '../abstracts/animations' as *;


#company-container{
    h1{
        text-align:center;
        margin-bottom:4%;
        letter-spacing:0.4px;
        word-spacing:4px;
        text-transform:capitalize;
        color:$site-blue;
        font-size:2rem;
        font-weight:700;
    }
    .company-logos{
        display:flex;
        flex-direction:column;
        gap:2rem;
        overflow:hidden;
        position: relative;

        div{
            display:flex;
            gap:11%;
            white-space:nowrap;
            animation-name:flow;
            animation-duration:40s;
            animation-iteration-count: infinite;
            animation-play-state: running;
            animation-timing-function:linear;
            overflow-x: visible;

            &:nth-child(2){
                display:flex;
                gap:11%;
                white-space:nowrap;
                animation-name:flow;
                animation-duration:20s;
                animation-iteration-count: infinite;
                animation-play-state: running;
                animation-timing-function:linear;
                animation-direction:reverse;
                overflow-x: visible;
            }
            img{
                height:4rem;
                overflow-x:visible;
            }
            
        }
    }
} 
