@use '../abstracts/variables' as *;
@use '../abstracts/animations' as *;


#company-container{
    h1{
        text-align:center;
        margin-bottom:4%;
        letter-spacing:0.4px;
        word-spacing:4px;
        text-transform:capitalize;
        color:$site-blue;
        font-size:2rem;
        font-weight:700;
    }
    .company-logos{
        display:flex;
        flex-direction:column;
        gap:2rem;
        overflow:hidden;
        position: relative;

        div{
            display:flex;
            gap:11%;
            white-space:nowrap;
            animation-name:flow;
            animation-duration:40s;
            animation-iteration-count: infinite;
            animation-play-state: running;
            animation-timing-function:linear;
            overflow-x: visible;

            &:nth-child(2){
                display:flex;
                gap:11%;
                white-space:nowrap;
                animation-name:flow;
                animation-duration:20s;
                animation-iteration-count: infinite;
                animation-play-state: running;
                animation-timing-function:linear;
                animation-direction:reverse;
                overflow-x: visible;
            }
            img{
                height:4rem;
                overflow-x:visible;
            }
            
        }
    }
} 

@media (max-width: 1024px){
  #company-container{
    h1{
      font-size: 1.7rem;
      margin-bottom: 3rem;
    }

    .company-logos{
      gap: 1.5rem;

      div{
        gap: 8%;
        animation-duration: 55s;

        &:nth-child(2){
          animation-duration: 35s;
        }

        img{
          height: 3.2rem;
        }
      }
    }
  }
}

@media (max-width: 768px){
  #company-container{
    padding-inline: 6%;

    h1{
      font-size: 1.4rem;
      margin-bottom: 2.5rem;
      line-height: 1.3;
    }

    .company-logos{
      gap: 1.2rem;

      div{
        gap: 6%;
        animation-duration: 70s;

        &:nth-child(2){
          animation-duration: 50s;
        }

        img{
          height: 2.6rem;
        }
      }
    }
  }
}

@media (max-width: 480px){
  #company-container{
    h1{
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }

    .company-logos{
      gap: 1rem;

      div{
        gap: 5%;
        animation-duration: 85s;

        &:nth-child(2){
          animation-duration: 65s;
        }

        img{
          height: 2.2rem;
        }
      }
    }
  }
}
