@use '../abstracts/variables' as *;


#credentials{
    margin-top:10%;
    height:300px;
    position:relative;
    background-image:url('Images/class1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:0 50%;
    display:flex;
    align-items:center;
    justify-content:center;

    &::before{
        content:'';
        position:absolute;
        bottom:0%;
        left:0%;
        height:100%;
        width:100%;
        background-color:hsla(221, 52%, 26%, 0.4);
    }

    .animate span{
    //   opacity: 1;
      transform: translateY(0);
    }

    .credentials-items{
        z-index:2;
        .credentials-items-wrapper{
            height:100%;
            padding-inline:$padding-inline;
            display:flex;
            align-items:center;
            justify-content:center;
            gap:25%;
            &:last-child{
                margin-top:1rem;
            }
            &>div{
                display:flex;
                gap:1rem;    
                i{
                    font-size:3rem;
                    align-self:center;
                    color:$site-orange;
                }
                span{
                    font-size:2rem;
                    color:#fff;
                    cursor: default;
                    // opacity: 0;
                    transform: translateY(10px);
                    transition: all 0.6s ease;
                }
                h5{
                    white-space:nowrap;
                    font-size:15px;
                    font-weight:initial;
                    color:#fff;
                }
            }
        }
    }
}