
$site-green:hsl(145, 62%, 42%);            /* #28AD60 rgb(40,173,96) hsl(145, 62%, 42%) */
$site-blue:hsl(221, 52%, 26%);             /* #192B51 rgb(25,43,81) hsl(221, 52%, 21%) */
$site-grey:hsl(0, 0%, 40%);                /* #666666 rgb(102,102,102) hsl(0, 0%, 40%) */
// $site-black:hsl(232,12,12);                /* #1D1E25 rgb(29,30,37) hsl(232,12,12) */
$site-orange:hsl(11,88%,59%);              /* #F3603C rgb(243,96,60) hsl(11,88%,59%) */  
$site-container-bgLight:#f5f7fb;           /* #f5f7fb rgb(245,247,251) hsl(220,42%,97%) */
$site-violet-light:#EFECFD;                /* #EFECFD rgb(239,236,253) hsl(250,80%,95%) */
$site-orange-light:hsl(12,100%,96%);       /* #FFEFEB rgb(255,239,235) hsl(12,100%,96%); */ 
$site-blue-variety:hsl(206,56%,21%);       /* #183b56 rgb(24,59,86) hsl(206,56%,21%) */
$site-blue-light:hsl(209,25%,45%);         /* #577592 rgb(87,117,146) hsl(209,25%,45%) */
$site-blue-dark:hsl(228,39%,23%);          /* #232C51 rgb(35,44,81) hsl(228,39%,23%) */
$site-blue-button:hsl(206,84%,53%);        /* #2294ed rgb(34,148,27) hsl(206,84%,53%) */

$padding-inline:7%;
$padding-block:10px;
$box-shadow:0 2px 3px 2px #eee;